[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
requests = "*"
dotenv = "*"
python-ffmpeg = "*"
mutagen = "*"
spotifyscraper = "*"
yt-dlp = "==2025.11.12"

[dev-packages]

[requires]
python_version = "3.12"
